{% extends "base.html" %}
{% block body_class %}class="bg-red"{% endblock %}
{% block content %}
<div class="page-container services-content">
    <h1>Our Services</h1>
    <p>We offer a wide range of services to meet your needs, including:</p>
    <ul>
        <li>Electrical Installation and Wiring</li>
        <li>Electrical Maintenance and Repairs</li>
        <li>Refrigeration System Installation and Service</li>
        <li>General Electrical Contracting</li>
    </ul>
</div>
{% endblock %}